* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*box-shadow: 0 0 0 2px blue inset;*/
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  font-size: 22px;
}

span {
  margin-bottom: 4rem;
}

/*******************Section header**********************/

header {
  width: 100%;
  height: 69px;
  background-color: #000;
  position: fixed;
  z-index: 100;
}

/************Section logo du site*******************/

header .logo {
  float: left;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
}

/***********Section navbar********************/

nav {
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: underline;
  color: seashell;
  padding: 0.6rem;
  margin: 2px;
}

nav ul li a:hover {
  background: #d92950;
  text-decoration: none;
  transition: all 0.3s;
}

nav .checkbtn,
nav .uncheckbtn {
  font-size: 1.9rem;
  color: seashell;
  float: right;
  margin-right: 1rem;
  cursor: pointer;
  display: none;
}

.check {
  display: none;
}

/***************Media pour gérer la responsivité de la navbar*/

@media screen and (max-width: 600px) {
  nav .checkbtn {
    display: block;
  }

  nav ul {
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: #d92950;
    top: 69px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: column;
    background-color: blue;
  }

  nav ul li a {
    padding: 1rem;
  }

  #check:checked ~ .checkbtn {
    display: none;
  }

  #check:checked ~ .uncheckbtn {
    display: block;
  }

  #check:checked ~ ul {
    right: 0%;
  }
}

/********************Section Main***************/
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding-top: 69px;
}

/************Section Our Mission*/
.our-mission {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url('Img/img-mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 95%;
  margin-bottom: 4rem;
}

.our-mission .our-mission-title {
  background: #000;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
}

.our-mission .our-mission-title h4 {
  text-align: center;
}

/****************Section featured-tea***********/

.featured-tea {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}

.featured-tea h2 {
  margin-bottom: 1rem;
}

.featured-tea h4 {
  margin-bottom: 0.6rem;
}

.featured-tea-img {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 10px;
}

.featured-tea-img > div {
  margin-bottom: 10px;
}

.featured-tea-img > div img {
  width: 300px;
  height: 200px;
  margin-bottom: 10px;
}

.featured-tea-img > div p {
  text-align: center;
}

/*************Section Location********************/
.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4)
    ),
    url('Img/img-mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 95%;
  gap: 15px;
}

.location .box-location {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.location .box-location .different-box-location {
  width: 300px;
  background-color: #000;
  text-align: center;
  opacity: 1;
  padding: 1rem;
}

.location .box-location .different-box-location > p,
h3 {
  padding: 1rem;
}

/**/
@media screen and (max-width: 700px) {
  .location {
    height: auto;
    padding: 1rem;
  }
}

/*****************Footer section****************/
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer .footer-contact {
  height: 200px;
  padding: 1rem;
}

footer .footer-contact > h2 {
  margin-bottom: 2rem;
}

footer .footer-contact > *:not(h2) {
  padding: 1rem;
}

footer .footer-copy {
  text-align: left;
  margin: 2rem auto 1rem 20px;
}

@media screen and (max-width: 700px) {
  footer .footer-copy {
    text-align: center;
    margin: 2rem auto 1rem 20px;
  }
}
